###############################################################################
# Laravel
###############################################################################
.env
.env.backup
.env.production
.env.local
environtment.env
/auth.json
/storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage
/vendor
/node_modules
Homestead.json
Homestead.yaml

###############################################################################
# PHP / Testing
###############################################################################
*.log
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/coverage

###############################################################################
# Node / Vite / NPM
###############################################################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache
dist/

###############################################################################
# IDE & Editor
###############################################################################
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.swp
*.swo
*~

###############################################################################
# OS
###############################################################################
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
